{% include "AdminLayouts/app.html" %}
{% include "AdminLayouts/sideBarMenu.html " %}
{% load static %}

    <link rel='stylesheet' type='text/css' href="{% static 'plugins/datatables/dataTables.css'%}" />
    <style>
        .modal-dialog-centered{
            margin-top: 190px
        }

        .product-thumbnail{
            width: 40px;
            height: 40px;
            overflow: hidden;
        }

        .deleted-row {
            text-decoration: line-through;
            background-color: red;
        }

    </style>


    <div id="page-content">
        <div id='wrap'>
            <div id="page-heading">
                <ol class="breadcrumb">
                    <li><a href="">Dashboard</a></li>
                    <li class="active">Awards</li>
                </ol>

                <h1>Awards</h1>

                <div class="options">
                    <div class="btn-toolbar">
                        <a href="award/create.html" class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            Add Incentives
                        </a>
                    </div>
                </div>

            </div>

            <div class="container">



                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4>Awards</h4>
                                <div class="options">

                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped  datatables" id="example">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Point Value (PV)</th>
                                            <th>Cash Equivalent</th>
                                            <th>Last Updated</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                          
                                                <tr>
                                                 
                                                        <a href="'admin/award/'.award->id.'/edit/' ">
                                                            <img src="/adminTemplate/img/edit.gif" alt="Edit" width="16" height="16" border="0">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                    
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



            </div> <!-- container -->
        </div> <!--wrap -->
    </div>

    
    <script src="{ % static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{ % static 'plugins/datatables/dataTables.bootstrap.js' % }"></script>
    <script src="{ % static 'plugins/form-jasnyupload/fileinput.js' %}"></script>




    <script>

        // -------------------------------
        // Initialize Data Tables
        // -------------------------------

        $(document).ready(function() {
            $('.datatables').dataTable({
                "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page",
                    "sSearch": ""
                }
            });
            $('.dataTables_filter input').addClass('form-control').attr('placeholder','Search...');
            $('.dataTables_length select').addClass('form-control');
        });



        function ConfirmDelete()
        {
            var x = confirm("Are you sure you want to delete?");
            if (x)
                return true;
            else
                return false;
        }

    </script>




