{% incude 'AdminLayouts/loginHeader.html'%}
{% load static %}


    <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap-datepicker/css/datepicker3.css') }}">





    <div id="page-content">
        <div id='wrap'>
            <div id="page-heading">
                <ol class="breadcrumb">
                    <li><a href="index.php">Dashboard</a></li>
                    <li>Edit Product</li>
                </ol>
                <h1>Edit Product</h1>
            </div>

            <div class="container">

                

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4>Edit product</h4>
                            </div>
                            <div class="panel-body">
                                <br>
                                <form class="form-horizontal" action=""  method="POST" enctype='multipart/form-data' >
                                    @csrf
                                    <input name="_method" type="hidden" value="PUT">

                                    <div class="form-group">
                                        <label for="focusedinput" class="col-sm-3 control-label">Product Name</label>
                                        <div class="col-sm-3">
                                            <input name="name" type="text" class="form-control" value="{{$product->name}}" required>
                                            
                                                <span class="text-danger">
                                        <strong>#</strong>
                                    </span>
                                        
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="focusedinput" class="col-sm-3 control-label">Product description</label>
                                        <div class="col-sm-3">
                                            <textarea name="description" rows="6" class="form-control" required>#</textarea>
                                        
                                                <span class="text-danger">
                                        <strong>#</strong>
                                    </span>
                                            
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="focusedinput" class="col-sm-3 control-label">Category</label>
                                        <div class="col-sm-3">
                                            <select name="category" id="category" class="form-control">
                                                <option selected value="">#</option>
                                                
                                                    <option value="">#</option>
                                                
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="focusedinput" class="col-sm-3 control-label">Type</label>
                                        <div class="col-sm-3">
                                            <select name="type" id="type" class="form-control">
                                                
                                                    <option selected value="1">MLM & Retail</option>
                                                
                                                    <option selected value="2">MLM Only</option>
                                                
                                                    <option selected value="3">Retail Only</option>
                                                
                                                <option value="1">MLM & Retail</option>
                                                <option value="2">MLM Only</option>
                                                <option value="3">Retail Only</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="focusedinput" class="col-sm-3 control-label">Point Value (PV)</label>
                                        <div class="col-sm-3">
                                            <input name="pv" type="text" class="form-control" required value="{{$product->pv}}" >
                                            
                                                <span class="text-danger">
                                        <strong>#</strong>
                                    </span>
                                            
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="focusedinput" class="col-sm-3 control-label">Status</label>
                                        <div class="col-sm-3 control-label">
                                            <div class="toggle"></div>
                                            <input name="active" id="active" type="hidden" value="{{$product->active}}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="focusedinput" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-8">
                                            <hr/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="focusedinput" class="col-sm-3 control-label">pricing</label>
                                        <div class="col-sm-3">
                                            
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"></label>
                                                    <div class="col-sm-8">
                                                        <input name="{{$productPrice->currency->code}}" type="text" required
                                                               class="form-control"  value="{{$productPrice->price }}">
                                                    </div>
                                                </div>
                                                <br/>
                                            
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Featured Image</label>
                                        <div class="col-sm-3">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-preview thumbnail" data-trigger="fileinput"
                                                     style="width: 200px; height: 150px;">
                                                </div>
                                                <div>
                                       <span class="btn btn-default btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="featured_image" accept="image/*"></span>
                                                    <a href="#" class="btn btn-default fileinput-exists"
                                                       data-dismiss="fileinput">Remove</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <img src="" style="height: 200px;">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Image Gallery</label>
                                        <div class="col-sm-9">
                                            <input type="file" id="image_gallery" name="image_gallery[]" accept="image/*"  multiple />
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="focusedinput" class="col-sm-3 control-label">Inventory</label>
                                        <div class="col-sm-8">
                                            <hr/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Product SKU</label>
                                        <div class="col-sm-3">
                                            <input name="sku" type="text" class="form-control" value="">
                                        </div>
                                    </div>



                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <div class="btn-toolbar">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-md-offset-4">
                                                            <button type="submit" class="btn btn-primary"> Update Product</button>
                                                            &nbsp;&nbsp;
                                                            <button type="reset" class="btn btn-default"> Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </form>
                            </div>

                        </div>
                    </div>
                </div>


            </div> <!-- container -->
        </div> <!--wrap -->
    </div> <!-- page-content -->








    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'plugins/form-jasnyupload/fileinput.js'%}"></script>


    <script>
        $('.toggle').on('toggle', function(e, active) {
            if (active) {
                document.getElementById("active").value="1";
            } else {
                document.getElementById("active").value="0";
            }
        });

    </script>

