{% incude 'AdminLayouts/loginHeader.html'%}
{% load static %}

    <link rel='stylesheet' type='text/css' href="{% static 'plugins/datatables/dataTables.css' %}" />
    <style>
        .modal-dialog-centered{
           margin-top: 190px
        }

        .product-thumbnail{
            width: 40px;
            height: 40px;
            overflow: hidden;
        }

    </style>


<div id="page-content">
    <div id='wrap'>
        <div id="page-heading">
            <ol class="breadcrumb">
                <li><a href="">Dashboard</a></li>
                <li>Settings</li>
                <li class="active">Product</li>
            </ol>

            <h1>Product</h1>

        </div>

        <div class="container">

              


            <div class="row">
              <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Product</h4>
                        <div class="options">

                        </div>
                    </div>
                    <div class="panel-body">


                        <table class="table table-bordered table-hover table-striped datatables" id="example">
                          <thead>
                            <tr>
                              <th><i class="fa fa-image"></i></th>
                              <th>Name</th>
                              <th>Description</th>
                              <th>SKU</th>
                              <th>Status</th>
                              <th>Category</th>
                              <th>Type</th>
                              <th>price</th>
                              <th>PV</th>
                              <th>Created</th>
                              <th></th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>

                         
                            <tr>
                               <td>
                                    <img src="" alt=" "
                                    class="img-rounded product-thumbnail">
                               </td>

                             
                                    <span class="label label-success">Active</span>
                              

                                    <span class="label label-danger">Disabled</span>
                              
                               </td>
                               <td></td>
                                <td>
                                   
                                        <span class="label label-success">MLM & Retail</span>
                                   
                                        <span class="label label-success">MLM Only</span>
                                  
                                        <span class="label label-success">Retail Only</span>
                                
                                        <span class="label label-danger">Error</span>
                                  
                                </td>

                               <td width="10%" >
                                 
                               <td>
                               <a href="">
                                 <img src="{% static 'images/edit.gif '%}" alt="Edit" width="16" height="16" border="0">
                               </a>

                               </td>

                               <td>

                    

                                </td>
                            </tr>
                          

                          </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>









        </div> <!-- container -->
    </div> <!--wrap -->
</div>

<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'plugins/form-jasnyupload/fileinput.js' %}"></script>




<script>



$('.toggle').on('toggle', function(e, active) {
  if (active) {
    console.log('Toggle is now ON!');
    document.getElementById("status").value="1";
  } else {
    console.log('Toggle is now OFF!');
    document.getElementById("status").value="0";
  }
});


// -------------------------------
// Initialize Data Tables
// -------------------------------

$(document).ready(function() {
    $('.datatables').dataTable({
        "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ records per page",
            "sSearch": ""
        }
    });
    $('.dataTables_filter input').addClass('form-control').attr('placeholder','Search...');
    $('.dataTables_length select').addClass('form-control');
});



  function ConfirmDelete()
  {
  var x = confirm("Are you sure you want to delete?");
  if (x)
    return true;
  else
    return false;
  }

</script>



