{% incude 'AdminLayouts/loginHeader.html'%}
{% load static %}

    <link rel='stylesheet' type='text/css' href="{% static 'plugins/datatables/dataTables.css' %}" />
    <style>
        .modal-dialog-centered{
            margin-top: 190px
        }

        .product-thumbnail{
            width: 40px;
            height: 40px;
            overflow: hidden;
        }

        .deleted-row {
            text-decoration: line-through;
            background-color: red;
        }

    </style>


    <div id="page-content">
        <div id='wrap'>
            <div id="page-heading">
                <ol class="breadcrumb">
                    <li><a href="">Testimonials</a></li>
                </ol>

                <h1>Users Testimonials</h1>

            </div>

            <div class="container">

               

                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4>Testimonials</h4>
                                <div class="options">

                                </div>
                            </div>
                            <div class="panel-body">

                                <table class="table table-bordered table-hover table-striped  datatables" id="example">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>User</th>
                                        <th>Message</th>
                                        <th>Status</th>
                                        <th>Created At</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                  
                                                    <span class="label label-warning">pending</span>
                                                
                                                    <span class="label label-success">published</span>
                                                
                                                    <span class="label label-info">#</span>
                                                
                                            </td>


                                          
                                            <td>
                                                <a  class="btn btn-primary btn-xs" href="">View</a>
                                            </td>
                                        </tr>
                                    
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>



            </div> <!-- container -->
        </div> <!--wrap -->
    </div>

    
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js'%}"></script>
    <script src="{% static 'plugins/form-jasnyupload/fileinput.js' %}"></script>




    <script>

        // -------------------------------
        // Initialize Data Tables
        // -------------------------------

        $(document).ready(function() {
            $('.datatables').dataTable({
                "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page",
                    "sSearch": ""
                }
            });
            $('.dataTables_filter input').addClass('form-control').attr('placeholder','Search...');
            $('.dataTables_length select').addClass('form-control');
        });



        function ConfirmDelete()
        {
            var x = confirm("Are you sure you want to delete?");
            if (x)
                return true;
            else
                return false;
        }

    </script>




