{% include "AdminLayouts/loginHeader.html" %}
{% load static %}



{% block content %}


<div class="verticalcenter">  
 <a href="#"><img src="{% static 'images/logo2.png' %}" alt="Logo" class="brand" height="80px" width="430px" /></a>
   
    <div class="panel panel-primary">
        <div class="panel-body">
        <h4 class="text-center" style="margin-bottom: 25px;">Log in to get started or <a href="register.html">Sign Up</a></h4>

          

                        {% csrf_token %}

                        <p> {{error}}</p>

                <form action="login" class="form-horizontal" role="form" method="POST"  style="margin-bottom: 0px !important;">
                      
                    


                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                     <input id="username" type="username" class="form-control" name="username" value=" " placeholder="username">
                            
                                     <span class="help-block">
                                        <strong></strong>
                                     </span>
                                 

                                </div>
                            </div>  
                        </div>
                       
                        <div class="form-group ">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                                
                                    <span class="help-block">
                                        <strong></strong>
                                    </span>
                            
                                </div>
                            </div>
                        </div>
                        
                        <div class="clearfix">
                            <div class="pull-right"><label><input type="checkbox" name="remember" style="margin-bottom: 20px" checked=""> Remember Me</label></div>
                        </div>




                     <div class="panel-footer">
                         <a href="password/reset" class="pull-left btn btn-link" style="padding-left:0">Forgot password?</a>

                            <div class="pull-right">               
                                 <button type="reset" class="btn btn-danger">
                                       <i class="fa fa-btn "></i> Reset
                                  </button>
                                 <button type="submit" class="btn btn-primary">
                                       <i class="fa fa-btn fa-sign-in"></i> Login
                                  </button>

                            </div>
                      </div>
                    </form>
                    
        </div>   
    </div>
 </div>
      
{% endblock %}